    <div class="container">
      <form method="POST" id="container" name="container">
          <br>
          <h4>Ingresa un nombre para ver sus transacciones</h4>
          <input type="text" name="nombre" id="nombre">
          <button type="submit" name="enviar" id="enviar"  class="btn btn-primary">enviar</button>
          <br><br>
          <div id="tran">
          </div>
          <br><br>
          <h4>Conocer el area de trabajo de un empleado</h4>
          <input type="text" name="nombre" id="nombre">
          <button type="submit" name="enviar" id="enviar"  class="btn btn-primary">enviar</button>
        </form>
    </div>
    
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/fun.js"></script>