.body
{
  margin: 10%;
  padding: 10%;
  align-self: center;
}

.p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.table
{
  align-self: center;
}
.h1
{
  font-family:Arial, Helvetica, sans-serif;
  color: red;
}
